@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "fixedsys";
  src: url("./src/assets/fonts/fixedsys.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
    font-family: fixedsys, sans-serif;
  }